<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>
            登录系统
        </h1>
        <form action="post">
            <div>
                <span>账号：</span>
                <input type="text" name="login_name" id="login_name" class="login_name" placeholder="请输入用户名/手机号/邮箱号" />
            </div>
            <div>
                <span>密码：</span>
                <input type="password" name="login_pwd" id="login_pwd" class="login_pwd" placeholder="请输入您的密码" />
            </div>
            <div> 
                <button>登录</button>
                <a href="http://">微信登录</a>
            </div>
        </form>
    </div>
</body>

</html>