.header_l{
    color: #ffffff;
    background-color: #17bec4;
}
.row_input{
    margin-bottom: 20px;
    height: 60px;
    position: relative;
}
.form-control{
    font-size: 16px;
    height: 50px;
}
.input-group-addon .iconfont {
    font-size: 26px;
    color: #555;
}
.row_section .input-group{
    float: left;
    width: 35%;
    margin-left: 15%;
}
.row_section .input-info{
    float: left;
    width: 45%;
    margin-left: 20px;
    height: 50px;
    font-size: 16px;
    color: #555;
    line-height: 50px;
}
.row_input .err_info{
    color: #fc4343;
    position: absolute;
    top: 57px;
    left: 20%;
}
.row_input .input-sign {
    position: absolute;
    height: 50px;
    line-height: 50px;
    left: 46%;
    z-index: 99;
}
.row_input .input-sign .icon-sign{
    font-size: 26px;
    line-height: 50px;
}
.row_input .input-sign .icon-cuowu{
    color: #fc4343;
    display: none;

}
.row_input .input-sign .icon-duigou{
    color: #00cc00;
    display: none;

}

.protocol{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    height: 130px;
    border-top: 1px solid #ccc;
    text-align: center;

}
.protocol .err_info{
    height: 25px;
    line-height: 25px;
    color: #fc4343;
}
.protocol label{
    margin-top: 30px;
    height: 25px;
    line-height: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.protocol .agreement{
    color: #17bec4;
    cursor: pointer;
}
.protocol .agreement:hover{
    text-decoration: underline;
    color: #14a1a6;
}
.protocol .register_btn{
    padding: 10px 30px;
    background-color: #17bec4;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin:  0 auto;
    margin-bottom: 20px;
}
.protocol .register_btn:hover{
    background-color: #14a1a6;
}
.btn_agreement{
    color: #fff;
    background-color: #17bec4;
    border-color: #17bec4;
}
.btn_agreement:hover,.btn_agreement:focus,.btn_agreement:active{
    background-color: #14a1a6;
    border-color: #14a1a6;
    color: #fff;
}
.modal-content{
    top: 50px;
}
.modal-content .modal-body{
    height: 450px;
    overflow: auto;
}