<footer class="common_footer">
    <p>© 2013-2018&nbsp;
        <a href="https://www.rt-thread.org" target="_blank">上海睿赛德电子科技有限公司 </a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备13014002号-1 </a>
    </p>
    <p>Powered by <span>RT-Thread</span></p>
</footer>
<style>
    .common_footer{
        background-color: #353644;
        height: 100px;
        padding: 30px 0;
    }
    .common_footer p{
        text-align: center;
        font-size: 12px;
        color: rgba(255,255,255,0.6);

    }
    .common_footer p a{
        color: rgba(255,255,255,0.6);
    }
</style>


