<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>登录</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- iconfont 文件 -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">
    <div class="row" style="padding: 0 5%">
        <div class="header_log">
            <span>
                <i class="iconfont icon-shiliangzhinengduixiang"></i>
            </span>

        </div>
        <form action="/login" method="post" id="userInfo">

            <div class="input-group" style="margin-top: 20px">
                <span class="input-group-addon" id="basic-addon1" style="background: #fff;border-right: none;"><i class="iconfont icon-denglu"></i></span>
                <input type="text" name="username" class="form-control username" style="border-left: none" placeholder="Username" aria-describedby="basic-addon1">
            </div>
            <p class="usernameInfo"  style="height: 35px;line-height: 35px; color: red; margin-bottom: 0;"></p>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1" style="background: #fff;border-right: none;"><i class="iconfont icon-mima"></i></span>
                <input type="password" name="password" class="form-control password" style="border-left: none" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <p class="passwordInfo" style="height: 35px;line-height: 35px; color: red; margin-bottom: 0;"></p>

            <div class="">
                <span class="fl"><a href="">记住密码</a></span>  <span class="fr"> <a href="#">找回密码？</a></span>
            </div>

            <button type="button"  onclick="checkUser()" class="btn btn-info" style="width: 100%">登录</button>
            <div class="register">
                <span><a href="/register">立即注册</a></span>
            </div>
        </form>
        <div class="footer_login">
            <span></span>
            <span>第三方登录</span>
            <span></span>
            <ul>
                <li><a href="/oauth/pc/qq"><i class="iconfont icon-QQ"></i></a></li>
                <li class="wx"><a href="/oauth"><i class="iconfont icon-wx"></i></a></li>
                <li><a href=""><i class="iconfont icon-xinlang"></i></a></li>
            </ul>
        </div>

    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<script>
    function checkUser() {
        console.log(3333)
        var user = $('.username');
        var password = $('.password');
        var userInfo = $('.usernameInfo');
        var passwordInfo = $('.passwordInfo');
        if(user.val() === ""){
            passwordInfo.text("")
            userInfo.text("请输入用户名")
            user.focus()
        }else if (password.val() === ""){
            userInfo.text("")
            passwordInfo.text("请输入密码")
            password.focus()
        }else{
            userInfo.text("")
            passwordInfo.text("")
            document.getElementById("userInfo").submit();
        }
    }
</script>
<script>
    window.onload= function (ev) {

        var browser = {
            versions: function () {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {     //移动终端浏览器版本信息
                    trident: u.indexOf('Trident') > -1, //IE内核
                    presto: u.indexOf('Presto') > -1, //opera内核
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                    ios: !!u.match(/(i[^;]+;( U;)? CPU.+Mac OS X)/), //ios终端
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                    iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1, //是否iPad
                    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        }
        if (browser.versions.mobile) {//判断是否是移动设备打开。browser代码在下面
            var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
                //在微信中打开
                console.log("在微信中打开")
                setInterval(WeixinJSBridge.call('closeWindow'),2000);

            }
            if (ua.match(/WeiBo/i) == "weibo") {
                //在新浪微博客户端打开
                console.log("在新浪微博客户端打开")
            }
            if (ua.match(/QQ/i) == "qq") {
                //在QQ空间打开
                console.log("在QQ空间打开")
            }
            if (browser.versions.ios) {
                //是否在IOS浏览器打开
                console.log("是否在IOS浏览器打开")
            }
            if(browser.versions.android){
                //是否在安卓浏览器打开
                console.log("是否在安卓浏览器打开")
            }
        } else {
            var wx = $(".wx a")
            wx.attr('href','/oauth/pc/wx')
            //否则就是PC浏览器打开
            console.log("PC")
        }
    }
</script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>